<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright (c) VCT. All rights reserved
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Vct_Main::menu" title="VCT" module="Vct_Main" sortOrder="60" resource="Magento_Backend::content" />
    </menu>
</config>
